.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3 {
        margin-bottom: 40px;
    }
    .switch-form-btn {
        margin-top: 30px;
        font-family: varela;
    }
    .signup-form {
        gap: 20px;
        display: flex;
        flex-direction: column;
        input {
            font-family: varela;
            &::placeholder {
                // color: aquamarine;
                text-align: right;
            }
        }
        .signup-btn {
            font-family: varela;
        }
    }
    .login-form {
        gap: 20px;
        display: flex;
        flex-direction: column;
        input {
            font-family: varela;
            &::placeholder {
                text-align: right;
            }
        }
        .login-btn {
            font-family: varela;
        }
    }
    form {
        // height: 350px;
    }
}
