.product-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    .product-image {
        width: 550px;
    }
    .details {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h3 {
            width: 300px;
            text-align: center;
        }
        h4 {
            span {
                text-decoration: line-through;
            }
            text-align: center;
        }
        .quantity-btns {
            display: flex;
            gap: 20px;
            justify-content: center;
            .quantity-field {
                width: 100px;
            }
        }
        .btn {
            font-family: varela;
            color: black;
        }
    }
}
.product-desc {
    margin-top: 20px;
    img {
        width: 500px;
        margin: 20px 20% auto;
        text-align: center;
    }
}
