// Colors
$clr1: #5a5a5a;
$clr2: rgb(130, 194, 255);
$clr3: #373f51;
$clr4: #749eff;
$clr5: #dff0ea;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
